
CommunityProject/obj/Debug/netcoreapp2.0/CommunityProject.dll

CommunityProject/obj/Debug/netcoreapp2.0/CommunityProject.pdb

CommunityProject/obj/Debug/netcoreapp2.0/CommunityProject.csproj.FileListAbsolute.txt

CommunityProject/obj/Debug/netcoreapp2.0/CommunityProject.csproj.CoreCompileInputs.cache

CommunityProject/bin/Debug/netcoreapp2.0/CommunityProject.pdb

CommunityProject/bin/Debug/netcoreapp2.0/CommunityProject.dll
