<<<<<<< HEAD
﻿@page
@model About2Model
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
=======
﻿@page
@model About2Model
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
>>>>>>> 5810889627fb5ec3131758e0436e064b445871be
