@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2></h2>
<h3></h3>

<html>
<head><style type="text/css">
.boxed {
  text-align: left;
  padding: 15px;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
  display: block;
}
</style></head>

  <div class="col-sm-12">
  <div class="boxed">

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<p>Use this area to provide additional information.</p>

</div></div>
