@page
@model adminModel
@{
    ViewData["Title"] = "";
}



<h2>Form Finder</h2>

<html>
<head>
    <style type="text/css">
        body {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
        }

        paragraph {
            display: flex;
            align-items: center;
            padding: 0 80px;
        }

        header {
            padding: 20px 0;
            background-color: #202020;
        }

        .button {
            background-color: #202020;
            color: white;
            border: 5;
            border-color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .button-hid {
            background-color: #202020;
            color: white;
            border: 5;
            border-color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            visibility: hidden;
        }

        header h1 {
            font-weight: 700;
            color: white;
            margin: 0;
        }

        header h2 {
            font-weight: 200;
            color: black;
            margin: 0;
        }

        header nav {
            display: flex;
            justify-content: flex-end;
        }

        header p {
            color: white;
            padding: 0 20px;
            margin: 0;
        }

        section .row img {
            margin: 0 0 30px;
            width: 100%;
            background-color: #202020;
        }

        .col-md-6 {
            margin: 0 0 30px;
        }

        .btn-group button {
            background-color: #202020;
            /* Blue background */
            border: 1px solid black;
            /* Green border */
            color: white;
            /* White text */
            padding: 10% 10%;
            /* Some padding */
            cursor: pointer;
            /* Pointer/hand icon */
            width: 100%;
            /* Standardized width so the buttons are the same size*/
            height: 75px;
            /* Standardized height so buttons are the same size */
            display: block;
            /* Make the buttons appear below each other */
        }

            .btn-group button:not(:last-child) {
                border-bottom: none;
                /* Prevent double borders */
            }

            /* Add a background color on hover */

            .btn-group button:hover {
                background-color: #202020;
            }

        .boxed {
            border: 2px solid black;
            border-radius: 8px;
            text-align: left;
            padding: 15px;
            background-color: rgb(252, 252, 252);
            display: block;
        }

        .boxed2 {
            border: 2px solid black;
            text-align: left;
            padding: 15px;
            background-color: rgb(252, 252, 252);
            display: block;
        }

        .boxed3 {
            border: 2px solid black;
            margin: 25px;
            border-radius: 8px;
            display: block;
        }

        .btn.btn-primary {
            border-radius: 2px;
            border: 0px;
            color: #fbd1d5;
            text-shadow: none;
        }

            .btn.btn-primary:hover {
                background-color: #fbd1d5;
            }

        .btn-secondary {
            background-color: #e8dfe0;
            margin: 0 0 30px;
        }

        .table {
            padding: 5px;
            width: 400px;
            overflow: hidden;
        }

        .left {
            float: left;
            width: 20%;
        }

        .right {
            float: right;
            width: 70%;
        }

        .main {
            float: left;
        }

        .event-display {
            float: right;
        }

        .btn-group current {
            background-color: #1bd115;
        }

        .carousel-inner > .active {
            width: 100%
        }

        a:link {
            color: #ffffff;
            text-decoration: none;
        }

        a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        a:hover {
            color: #ffffff;
            text-decoration: none;
        }

        a:active {
            color: #ffffff;
            text-decoration: none;
        }
    </style>

    <title>CHDC</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>


<body>
    <section class="container">
        <div class="col-sm-2">
            <div class="btn-group boxed3">
                <button class="registerwalk" style="float: right;" button="" onclick="viewwalk()">Walk-A-Thon</button>
                <button class="registerbowl" style="float: right;" button="" onclick="viewBowl()">Bowl-A-Thon</button>
                <button class="healffair" style="float: right;" button="" onclick="viewHealth()">Health Fair</button>
                <button class="fishingderby" style="float: right;" button="" onclick="viewFishing()">Fishing Derby</button>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="boxed">
                    <h2 id="eventtitle">Walk-A-Thon</h2>
                    <div class="button boxed3" id="register"><a href="http://localhost:54736/walkathon">See Forms</a></div>
                    <p> </p>
                </div>
            </div>


    </section>

    <script>
        $(document).ready(() => {
        });

        function viewwalk() {
            document.getElementById("eventtitle").innerHTML = "Walk-A-Thon";
            document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/walk\">See Forms</a>";
            $('.button-hid').css('visibility', 'visible');
        }

        function viewBowl() {
            document.getElementById("eventtitle").innerHTML = "Bowl-A-Thon";
            document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/bowl\">See Forms</a>";
            $('.button').css('visibility', 'visible');
            $('.button-hid').css('visibility', 'visible');
        }

        function viewHealth() {
            document.getElementById("eventtitle").innerHTML = "Health Fair";
            document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/healthfair\">See Forms</a>";
            $('.button').css('visibility', 'visible');
            $('.button-hid').css('visibility', 'hidden');
        }

        function viewFishing() {
            document.getElementById("eventtitle").innerHTML = "Fishing Derby";
            document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/fish\">See Forms</a>";
            $('.button').css('visibility', 'visible');
            $('.button-hid').css('visibility', 'visible');
        }
    </script>
</body>
