@page
@model Events2Model
@{
    ViewData["Title"] = "Events2";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<html>
<head><style type="text/css">body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
}

paragraph {
  display: flex;
  align-items: center;
  padding: 0 80px;
}

header {
  padding: 20px 0;
    background-color: #495466;
}

names {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 11.5px;
  padding: 0 80px;
}

quote {
  font-family: 'Garamond', sans-serif;
  font-size: 23px;
  font-style: italic;
  font-style: bold;
  padding: 0 30px;
  text-align: center;
}</style>

</head><body>
  
  <title>Skillfair</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="main.css">

    
    
  
    <section class="container">
      
      <div class="row">
      <div class="col-sm-4">
        <img src="http://i852.photobucket.com/albums/ab88/freckleface130/justanimage_zpsgr9dsrdp.png"> 
      </div>
      <div class="col-sm-4">
        <names>
          Volunteer Council Officers:
          <br><br>
          Jerry Cooper, President <br>
          Annete Mathews, Vice President <br>
          Stephanie Vann, Treasurer <br>
          Lorlie March, Secretary <br>
          Rudy Dominiquez, Honorary Member <br>
          Fred Petruceli, Honorary Member <br>
          Janice Brown, Member at Large <br>
          Sarah Murphy, CHDC Superintendent <br>
        </names>
        <quote> 
          <b> "People who care, people helping people." </b>
        </quote>
      </div>
      </div>
      
     <div class="row">
      <div class="col-sm-4">
        <p>Name</p> 
      </div>
      <div class="col-sm-4">
        <p>Phone Number</p>
      </div>
    </div>
      
      
         <div class="row">
      <div class="col-sm-3">
        <p>Address</p>
      </div>
      <div class="col-sm-3">
        <p>City</p>
      </div>
        <div class="col-sm-3">
        <p>State</p>
      </div>
       <div class="col-sm-3">
        <p>Zip</p>
      </div>
    </div>
      
      
      <div class="row">
      <div class="col-sm-10">
        <p>Donation to benefit Bowl-A-Thon</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ipsum libero. Sed lacinia nec quam elementum laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer aliquam, erat vitae ullamcorper iaculis, elit orci ornare quam, vel aliquam neque orci id ipsum. Pellentesque ac semper mi, id luctus diam. Suspendisse volutpat purus nunc, vel dictum nulla sodales vitae. Nullam condimentum sit amet dui a faucibus. Suspendisse iaculis sem tellus, nec interdum augue tincidunt eget. Ut vitae placerat augue, vitae maximus nibh. In maximus eleifend turpis vitae posuere.
      </p>
      </div>
    </div>
      
      <p> Donate to Sponsor a Benefit Bowler </p>
      <p> Become a Major Sponsor of Bowl-A-Thon </p>
      <p> Donate A Door-Prize </p>
</section>
</body>
