@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<html>
<head><style type="text/css">body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

paragraph {
  display: flex;
  align-items: center;
  padding: 0 80px;
  
}

header {
  padding: 20px 0;
  background-color: #202020;
}

.button {
  background-color: #202020; 
  color: white;
    border: 5;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-hid{
  background-color: #202020; 
  color: white;
    border: 5;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   visibility: hidden;
}

header h1 {
  font-weight: 700;
  color: white;
  margin: 0;
}
  
  header h2 {
    font-weight: 200;
    color: black;
    margin: 0;
  }

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  color: white;
  padding: 0 20px;
  margin: 0;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  background-color: #202020;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-group button {
    background-color: #202020; /* Blue background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 10% 10%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Standardized width so the buttons are the same size*/
    height: 75px; /* Standardized height so buttons are the same size */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #202020;
}
.boxed {
    border: 2px solid black;
  border-radius: 8px;
  text-align: left;
  padding: 15px;
  background-color: rgb(252, 252, 252);
  display: block;
}

.boxed2 {
    border: 2px solid black;
  text-align: left;
  padding: 15px;
  background-color: rgb(252, 252, 252);
  display: block;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
}

.btn.btn-primary:hover {
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #e8dfe0;
  margin: 0 0 30px;
}
.table {  padding:5px; width:400px; overflow:hidden; }
.left { float:left; width:20%; }
.right { float:right; width:70%; }

.main{float:left;}
.event-display{
  float: right;
}

.btn-group current {
  background-color:#1bd115;
}
.carousel-inner > .active {
    width: 100%

}
    </style>


  <title>CHDC</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
  
<body>
  <div class="col-sm-12">
  <div class="boxed">
  <div class="table">
    <div class="left">
      <div class="btn-group">
        <div class="boxed2">
          <b>Events:</b>
        </div>
        
        <button class="registerwalk" style="float: right;" button="" onclick="viewwalk()">Walk-A-Thon</button>
        <button class="registerbowl" style="float: right;" button="" onclick="viewBowl()">Bowl-A-Thon</button>
        <button class="healffair" style="float: right;" button="" onclick="viewHealth()">Health Fair</button>
        <button class="registerpolar" style="float: right;" button="" onclick="viewpolar()">Polar Express</button>
        <button class="fishingderby" style="float: right;" button="" onclick="viewFishing()">Fishing Derby</button>
        <button class="registergarden" style="float: right;" button="" onclick="viewgarden()">Volunteer Garden</button>
        <button class="registerlunch" style="float: right;" button="" onclick="viewlunch()">Appreciation Luncheon</button>
        
        
      </div>
    </div>
     <div class="right" id="view">
      <div class="col-md-9">
        
        <h2 id="eventtitle">Walk-A-Thon</h2>
          <div class="bs-example">
              <div id="myCarousel" class="carousel slide" data-interval="6000" data-ride="carousel">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      <div class="active item carousel">
                          <img id="pic1" src="images/Walkathon/1.jpg">
                      </div>
                      <div class="item carousel">
                          <img id="pic2" src="images/Walkathon/2.jpg">
                      </div>
                      <div class="item carousel">
                          <img id="pic3" src="images/Walkathon/3.jpg">
                      </div>
                  </div>
              </div>
          </div>
      
      <span class="event-display">
      <p id="demo">The Volunteer Council 5k is our centers biggest fundraiser of the year.  On average this event will raise over $25,000 each year and brings in over 200 participants.  <br> <b>This event is always hosted on the first Saturday of October at 8am at the Visitation Complex.</b><br> There are awards given to the first 3 to cross the finish line, door prizes, and food from local sponsoring restaurants.  Participants that raise over $400 have a chance to win grand prizes! The group that raises $500 or more wins a pizza party and the largest group receives a certificate.<br>
        <div class="button" id="register"><a href="http://localhost:54736/walkathon">Sign Up</a></div>
        <div class="button-hid" id="sponsor"><a href="http://localhost:54736/Sponsors">Sponsor</a></div>
        </span></div>
    
      <div>

        
      </div>
    </div>
</div>
</div>
</div>
</div>


<script>$(document).ready(() => {
  

});

function viewwalk() {
    document.getElementById("eventtitle").innerHTML = "Walk-A-Thon";
    document.getElementById("demo").innerHTML = "The Volunteer Council 5k is our centers biggest fundraiser of the year.  On average this event will raise over $25,000 each year and brings in over 200 participants.  <br> <b>This event is always hosted on the first Saturday of October at 8am at the Visitation Complex.</b><br> There are awards given to the first 3 to cross the finish line, door prizes, and food from local sponsoring restaurants.  Participants that raise over $400 have a chance to win grand prizes! The group that raises $500 or more wins a pizza party and the largest group receives a certificate.<br>>"; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/Walkathon\">Sign Up</a>";
  document.getElementById("sponsor").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Sponsor</a>";
    $('.button').css('visibility', 'visible');
    document.getElementById("pic1").src = "images/Walkathon/1.jpg";
    document.getElementById("pic2").src = "images/Walkathon/2.jpg";
    document.getElementById("pic3").src = "images/Walkathon/3.jpg";
 $('.button-hid').css('visibility', 'visible');
}

function viewBowl() {
    document.getElementById("eventtitle").innerHTML = "Bowl-A-Thon";
    document.getElementById("demo").innerHTML = "The Volunteer Council Bowl-A-Thon is our centers 2nd largest fundraiser of the year.  On average this event will raise over $13,000 each year and brings in over 90 participants. <br><b>This event is always hosted on the first Friday of March at 3pm at Conway Family Bowl. </b><br> There are awards, door prizes, food from local sponsoring restaurants.  Plaques, trophies and pizza parties can be won as well as door prizes. <br> "; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/Bowlathon\">Sign Up</a>";
    document.getElementById("sponsor").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Sponsor</a>";
    document.getElementById("pic1").src = "images/Bowlathon/1.jpg";
    document.getElementById("pic2").src = "images/Bowlathon/2.jpg";
    document.getElementById("pic3").src = "images/Bowlathon/3.jpg";
   $('.button').css('visibility', 'visible');
 $('.button-hid').css('visibility', 'visible');
}

  function viewHealth() {
      document.getElementById("eventtitle").innerHTML = "Health Fair";
    document.getElementById("demo").innerHTML = "It is time for our Annual Community Health Fair! It's grea to have so many local service providers sharing in this event and we sincerely hope you can be a part of it.<br> CHDC's Annual Community Health Fair is schedules for April 18th, 20xx from 8am - 12noon in the CHDC gymnasium.<br> Admission and vendor booths are free. We are seeking free health screenings, demonstrations, support services and information from community resources and health providers.<br> To sign up to be a vendor, please register now!<br>"; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/healthfair\">Become a Vendor</a>";
    document.getElementById("pic1").src = "images/Health Fair/1.jpg";
    document.getElementById("pic2").src = "images/Health Fair/2.jpg";
    document.getElementById("pic3").src = "images/Health Fair/1.jpg";
     $('.button').css('visibility', 'visible');
    $('.button-hid').css('visibility', 'hidden');
}

function viewpolar() {
    document.getElementById("eventtitle").innerHTML = "Polar Express";
    document.getElementById("demo").innerHTML = "The Volunteer Council Polar Express is magical! With the help of participating businesses, our train track is transformed into scenes from famous Christmas movies and is opened up to not only our residents and staff but to the general public, other HDC’s and adult programs with developmental disabilities, childcare and homeschool programs, foster children and special education classes K-5th.  <br><b>There are Christmas crafts, popcorn and hot chocolate and of course pictures with Santa!!  </b><br>The best thing about this event is that it is free for the train rides, refreshments and crafts.  The only cost is $5 to have a professional picture taken with Santa! Last year this event brought in over 2,000 participants. <br><b>It is held the first full week of December. As a public event, no registration is necessary. </b><br>"; 
    $('.button').css('visibility', 'hidden');
    document.getElementById("pic1").src = "images/Polar Express/1.jpg";
    document.getElementById("pic2").src = "images/Polar Express/2.jpg";
    document.getElementById("pic3").src = "images/Polar Express/3.jpg";
    $('.button-hid').css('visibility', 'hidden');
}

function viewlunch() {
  document.getElementById("eventtitle").innerHTML = "Appreciation Luncheon";
    document.getElementById("demo").innerHTML = "All volunteers for CHDC are invited to attend the annaul Appreciation Luncheon! catering is provided, and no RSVP is necessary provided you are a current volunteer or have volunteered for CHDC in the past year."; 
    document.getElementById("pic1").src = "images/food-pic.jpg";
    document.getElementById("pic2").src = "images/food-pic.jpg";
    document.getElementById("pic3").src = "images/food-pic.jpg";
    $('.button').css('visibility', 'hidden');
    $('.button-hid').css('visibility', 'hidden');
}

function viewgarden() {
    document.getElementById("eventtitle").innerHTML = "Volunteer Garden";
    document.getElementById("demo").innerHTML = "The volunteer garden is a relatively new event that allows the community to gather and help grow something together! Volunteers, staff and residents get together to landscape and appreciate nature. This is a wonderful opportunity for a laid back day of community service. <br> <b> To participate please sign up on the official Arkansas volunteer page.</b><br>"; 
    document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Volunteer Now</a>";
    document.getElementById("pic1").src = "images/Garden/1.jpg";
    document.getElementById("pic2").src = "images/Garden/2.jpg";
    document.getElementById("pic3").src = "images/Garden/3.jpg";
  $('.button').css('visibility', 'visible');
    $('.button-hid').css('visibility', 'hidden');
}

function viewFishing() {
    document.getElementById("eventtitle").innerHTML = "Fishing Derby";
    document.getElementById("demo").innerHTML = "The fishing derby is a fun, community driven event hosted in July. Materials are provided, and awards are given for largest fish caught, most fish caught, and first fish caught.<br> Over 50 anglers will participate in this event! <br> If you would like to sign up or sponsor the events, please click the buttons below!<br> "; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/fishingderby\">Sign Up</a>";
    document.getElementById("pic1").src = "images/Fishing Derby/1.jpg";
    document.getElementById("pic2").src = "images/Fishing Derby/2.jpg";
    document.getElementById("pic3").src = "images/Fishing Derby/3.jpg";
   document.getElementById("sponsor").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Sponsor</a>";
   $('.button').css('visibility', 'visible');
 $('.button-hid').css('visibility', 'visible');
}
</script></body>