@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<html>
<head><style type="text/css">body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

paragraph {
  display: flex;
  align-items: center;
  padding: 0 80px;
}

header {
  padding: 20px 0;
  background-color: #202020;
}

header .row,
footer .row {
  display: flex;
  background-color: #202020;
  align-items: center;
}

.button {
  background-color: #202020; 
  color: white;
    border: 5;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-hid{
  background-color: #202020; 
  color: white;
    border: 5;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   visibility: hidden;
}

header h1 {
  font-weight: 700;
  color: white;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  color: white;
  padding: 0 20px;
  margin: 0;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  background-color: #202020;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-group button {
    background-color: #202020; /* Blue background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 10% 10%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Standardized width so the buttons are the same size*/
    height: 75px; /* Standardized height so buttons are the same size */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #202020;
}
.boxed {
  text-align: center;
  border: 1px solid black;
  padding: 10% 20%;
  width: 100%;
  display: block;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #e8dfe0;
  color: #ffffff;
  margin: 0 0 30px;
}
.table { border:1px solid black; padding:5px; width:400px; overflow:hidden; }
.left { float:left; width:20%; }
.right { float:right; width:70%; }

.main{float:left;}
.event-display{
  float: right;
}

.btn-group current {
  background-color:#1bd115;
}</style>


  <title>CHDC</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
  
<body>

  <div class="table">
    <div class="left">
      <div class="btn-group">
        <div class="boxed">
          <b>Events:</b>
        </div>
        
        <button class="registerbowl" ,="" style="float: right;" button="" onclick="viewBowl()">Bowl-A-Thon</button>
        <button class="healffair" ,="" style="float: right;" button="" onclick="viewHealth()">Health Fair</button>
        <button class="fishingderby" ,="" style="float: right;" button="" onclick="viewFishing()">Fishing Derby</button>
        <button><a href="http://localhost:54736/Events2">5k Walkathon</a>
</button>
        <button><a href="http://localhost:54736/Events2">Polar Express</a>
</button>
      </div>
    </div>
     <div class="right" id="view">
      <div class="col-md-9">
       <img src="http://via.placeholder.com/350x150" style="width:750px;height:250px">
      
      <span class="event-display">
      <p id="demo">It is time for our Annual Community Health Fair! It's grea to have so many local service providers sharing in this event and we sincerely hope you can be a part of it.<br> CHDC's Annual Community Health Fair is schedules for April 18th, 20xx from 8am - 12noon in the CHDC gymnasium.<br> Admission and vendor booths are free. We are seeking free health screenings, demonstrations, support services and information from community resources and health providers.<br> To sign up to be a vendor, please register now!<br></p>
        <div class="button" id="register"><a href="http://localhost:54736/healthfair">Become a Vendor</a></div>
        <div class="button-hid" id="sponsor"><a href="http://localhost:54736/Sponsors">Sponsor</a></div>
        </span></div>
    
      <div>

        
      </div>
    </div>
  </div>


<script>$(document).ready(() => {
  
  //$('.button').on('click', event => {
  //   document.getElementById("register").innerHTML = "Stop";
     
 //});  
});

function viewBowl() {
    document.getElementById("demo").innerHTML = "The Volunteer Council Bowl-A-Thon is our centers 2nd largest fundraiser of the year.  On average this event will raise over $13,000 each year and brings in over 90 participants. <br>This event is always hosted on the first Friday of March at 3pm at Conway Family Bowl. <br> There are awards, door prizes, food from sponsoring restaurants such as Pizza Hut, Ed’s bakery, Wal-Mart Deli and Subway.  Plaques, trophies and pizza parties can be won as well as door prizes. <br> If you would like to sign up or sponsor the events, please click the buttons below!<br>"; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/Bowlathon\">Sign Up</a>";
  document.getElementById("sponsor").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Sponsor</a>";
 $('.button-hid').css('visibility', 'visible');
}

  function viewHealth() {
    document.getElementById("demo").innerHTML = "It is time for our Annual Community Health Fair! It's grea to have so many local service providers sharing in this event and we sincerely hope you can be a part of it.<br> CHDC's Annual Community Health Fair is schedules for April 18th, 20xx from 8am - 12noon in the CHDC gymnasium.<br> Admission and vendor booths are free. We are seeking free health screenings, demonstrations, support services and information from community resources and health providers.<br> To sign up to be a vendor, please register now!<br>"; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/healthfair\">Become a Vendor</a>";
    $('.button-hid').css('visibility', 'hidden');
}

function viewFishing() {
    document.getElementById("demo").innerHTML = "The fishing derby is a fun, community driven event hosted in July. Materials are provided, and awards are given for largest fish caught, most fish caught, and first fish caught.<br> Over 50 anglers will participate in this event! <br> If you would like to sign up or sponsor the events, please click the buttons below!<br> "; document.getElementById("register").innerHTML = "<a href=\"http://localhost:54736/fishingderby\">Sign Up</a>";
   document.getElementById("sponsor").innerHTML = "<a href=\"http://localhost:54736/Sponsors\">Sponsor</a>";
 $('.button-hid').css('visibility', 'visible');
}
</script></body>