@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head><style type="text/css">
.boxed {
  text-align: left;
  padding: 15px;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
  display: block;
}
</style></head>
<h2></h2>
<h2></h2>
  <div class="col-sm-12">
  <div class="boxed">
<body>
  <header class="container">
    <div class="row"></div>
     
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Registration</h2>
        <h3>The Year's Best events</h3>
      </div>
    </div>
  </section>
  
  <section class="">
    <paragraph>
    The Conway Human Development Center (CHDC) is one of Arkansas’ five state-managed residential training facilities for people with intellectual disabilities. It is located on a 409.25-acre site in the city of Conway. CHDC’s licensed residential capacity is 518 individuals with a functional capacity of approximately 480 individuals. The Conway Human Development Center is licensed by the Arkansas Office of Long Term Care as an Intermediate Care Facility/Serving Individuals with Intellectual Disabilities (ICF/IID). CHDC has been nationally accredited since 1986 and accredited by the Commission on Accreditation of Rehabilitation Facilities (CARF) since 1998.
      <br>
      <br>
    </paragraph>
    <paragraph>
CHDC’s Volunteer Council sponsors numerous fundraising activities throughout the year to support CHDC programs and services. CHDC Volunteer Council’s annual Walk-a-Thon and Bowl-a-Thon are popular fundraising events. Funds raised by the Volunteer Council are used for projects such as the Parent House, which is a triplex that serves as a place for families to stay in order to visit with their loved ones. Some previous projects completed by the Volunteer Council include building the Therapeutic Swimming Pool and funding construction of awning covers over sidewalks on the CHDC campus, which help shield individuals and staff from unfavorable weather conditions.
    </paragraph>
  </section>
  
  </div></div>
</body>
