@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head><style type="text/css">
.boxed {
  border: 2px solid black;
  border-radius: 8px;
  text-align: left;
  padding: 15px;
  background-color: rgb(252, 252, 252);
}
</style></head>
<h2></h2>
<h2></h2>
<body>
  <header class="container">
    <div class="row"></div>
     
  </header>
  <div class="col-sm-12">
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Registration</h2>
        <h3>The Year's Best events</h3>
      </div>
    </div>
  </section>
</div>
  

<div class="row">
        <div class="col-sm-12 boxed">
    <paragraph>
CHDC’s Volunteer Council sponsors numerous fundraising activities throughout the year to support CHDC programs and services. CHDC Volunteer Council’s annual Walk-a-Thon and Bowl-a-Thon are popular fundraising events. Funds raised by the Volunteer Council are used for projects such as the Parent House, which is a triplex that serves as a place for families to stay in order to visit with their loved ones. Some previous projects completed by the Volunteer Council include building the Therapeutic Swimming Pool and funding construction of awning covers over sidewalks on the CHDC campus, which help shield individuals and staff from unfavorable weather conditions.
    </paragraph>
</div></div><br><br>


<div class="row">
        <div class="col-sm-12 boxed">
<paragraph>
            The Volunteer Council's mission is to provide resources to the residents of the CHDC in order to meet their special needs, to provide them with long-term benefits, and to improve their overall quality of life. Council members advocate for the residents of the CHDC and inform our surrounding communities about the needs and abilities of the individuals served; new members are always welcome!</paragraph><br><br>
            <center><b>The Volunteer Council has provided many things for the residents of the CHDC over the past 36 years, including:</b><br><br>
          <ul style="list-style-type:none">
            <li>Family Visitation Complex</li>
            <li>Awnings over sidewalks</li>
            <li>Renovations and improvements to the swimming pool</li>
            <li>Equipment for the physical therapy department</li>
            <li>An indoor therapeutic pool and fitness complex</li>
            <li>Additional classrooms and classroom supplies</li>
            <li>Fencing along the front of campus</li>
            <li>New playground equipment for the park</li>
            <li>PA system for the CHDC Chapel</li>
            <li>A triplex for parents to use while in town visiting their loved one</li>
            <li>Park pavilion renovations</li>
            <li>New gym equipment</li>
            <li>Video surveillance equipment</li>
            <li>Christmas gifts</li>
            <li>Pavilion equipped with a stage</li>
            <li>Train tunnel</li>
            <li>Remodeled century flyer listed on the National Historic Register of places</li><br>
          </ul></center>
    </paragraph>
</div>
</div>


  </section>
  </div>
</body>
