@page
@model SponsorsModel
@{
    ViewData["Title"] = "Sponsors";
}
<h2></h2>
<h3></h3>

<html>
<head><style type="text/css">
.boxed {
  text-align: left;
  padding: 15px;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
  display: block;
}
</style></head>

  <div class="col-sm-12">
  <div class="boxed">

<body>
  <h1><b>CHDC Event Sponsorships</b></h1>
  <div class="container">
    <p style="text-align:center">CHDC Events can be sponsored by companies or families for different rewards based on sponsorship amount.</p>
      <h2 class="sponsor-type">Major Sponsors</h2>
        <ul><b>Gold Tier</b>
          <li>Requires $750 or more donation</li>
          <li>Large family name or company logo will be placed on t-shirts, newspaper ads, and brochures</li>
          <li>Will recieve 6 event t-shirts</li>
        </ul>
      </div>
      <div>
        <ul><b>Silver Tier</b>
          <li>Requires $500-$749 donation</li>
          <li>Small family name or company logo placed on t-shirts, newspaper ads, and brochures</li>
          <li>Will recieve 4 event t-shirts</li>
        </ul>
      </div>
      <div>
        <ul><b>Bronze Tier</b>
          <li>Requires $250-$500 donation</li>
          <li>Family or company name printed on t-shirt, newspaper ads, and brochures.</li>
          <li>Will recieve 2 event t-shirts</li>
        </ul>
      </div>
      <p>In addition to recognizing your support in promotional materials, we will also acknowledge any donation you may give with an official donation receipt for tax purposes.</p>
        <h2 class="sponsor-type">Team Sponsors</h2>
        <p>In the Walk-A-Thon and Bowl-A-Thon events you can choose to sponsor an individual walker or bowler for $50, or a team of 4 for $200.</p>
        <h2 class="sponsor-type">Door Prize Sponsors</h2>
        <p>You may choose to donate a door prize for an event, you will need to indicate whether or not you will be transporting it or if CHDC will have to pick it up on the event's form.</p>
</body>

</div></div>
<p>    </p>
